body {
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
}

h1 {
  font-weight: 600;
  font-size: 3rem;
}

p {
  font-weight: 400;
  font-size: 1.2rem;
  color: #8f8f8f;
}

/* Title */

#title {
  padding-bottom: 15%
}

.title-text {
  padding: 0.5% 30% 1%;
}

.title-image {
  margin: 7% auto 3%;
}

.header {
  background-image: url(images/bg-header-desktop.png);
  background-repeat: no-repeat;
  height: 363px;
  background-size: cover;
  background-color: #fff;
  background-position: center;
}

.download-button {
    color: #fff;
    margin: 0 1% 10%;
    border-radius: 25px;
}

.dl-ios {
  background-color: hsl(171, 66%, 44%);
}

.dl-mac {
background-color: hsl(233, 100%, 69%);
}
