body {
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
}

h1 {
  font-weight: 600;
  font-size: 3rem;
}

h2, h3 {
  font-weight: 600;
}

p {
  font-weight: 400;
  font-size: 1.2rem;
  color: #8f8f8f;
  line-height: 1.9;
}

footer {
  background-color: #f1f1f1;
}
/* global */

.mid-feature-text {
  padding: 1% 28% 1%;
}

.download-button {
    color: #fff;
    margin: 0 1% 10%;
    border-radius: 25px;
}

.dl-ios {
  background-color: hsl(171, 66%, 44%);
}

.dl-mac {
background-color: hsl(233, 100%, 69%);
}

/* Title sections */

#title {
  padding-bottom: 15%
}

.title-text {
  padding: 1% 28% 2%;
}

.title-image {
  margin: 7% auto 3%;
}

.header {
  background-image: url(images/bg-header-desktop.png);
  background-repeat: no-repeat;
  height: 363px;
  background-size: cover;
  background-color: #fff;
  background-position: center;
}



/* features sections */

#features {
  margin: 1% 0 10%;
}

.mid-feature-text h2 {
  margin: 3% auto;
}

.laptopImg {
  width: 110%;
  height: auto;
  position: relative;
  right: 10%;
  margin: 2% auto 20%;
}

.featurecontainer {
  padding-top: 2%;
}

.feature-point {
  text-align: left;
  padding: 2% 50% 3% 10%;
}

.devicesImg {
  margin: 10% auto;
  position: relative;
  right: 10%;
}

.feature-icon {
  margin: 10% auto;
}

.feature-hz {
  margin: 0 10%;
}

/* press sections */

.pressImg {
  margin: 0 4% 10%;
}

/* footer section */

.attribution {
  margin-bottom: 0;
}
